OPENAI_API_KEY="<your-openai-api-key>"
CHAT_MODEL_PROVIDER=<your-chat-model-provider>
CHAT_MODEL=<your-chat-model>
PDF_DIR=pdfs
EMBEDDING_MODEL=<your-embedding-model>
CHROMA_COLLECTION_NAME=rag-chroma
