Prompt {
    background: $primary 10%;
    color: $text;
    margin: 1;
    margin-right: 8;
    padding: 1 2 0 2;
}

Response {
    border: wide $success 50%;
    background: $success 10%;
    color: $text;
    margin: 1;
    padding: 1 2 0 2;
}
