Prompt {
    border: wide $panel;
    background: $panel 50%;
    color: $text;
    margin: 1;
    margin-left: 12;
    padding: 1 2 0 2;
}

Response {
    border: wide $success 50%;
    background: $success 10%;
    color: $text;
    margin: 1;
    padding: 1 2 0 2;
}
